VITE_BACKEND_BASE_URL=https://chatbot-factory-api-balkis-hkfhh2adh8hzhkbu.francecentral-01.azurewebsites.net
VITE_FRONTEND_BASE_URL=https://chatbot-factory-frontend-balkis-a4dchke0bucchbgk.francecentral-01.azurewebsites.net
PUBLIC_API_BASE_URL=https://chatbot-factory-api-balkis-hkfhh2adh8hzhkbu.francecentral-01.azurewebsites.net
PUBLIC_FRONTEND_BASE_URL=https://chatbot-factory-frontend-balkis-a4dchke0bucchbgk.francecentral-01.azurewebsites.net
PORT=8080
