.env
.env.*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example
frontend/.env
frontend/.env.*
!frontend/.env.example

.idea/
backend/.idea/
**/__pycache__/
**pycache**/
*.pyc
node_modules/
dist/
frontend/dist/
backend/venv/
.angular/cache/
frontend/.angular/cache/
